<!-- ********End of Body Here******** -->
<div class="container"><!-- ********小心******** -->
    <!-- Start footer -->
    <footer>
        <div class="d-flex flex-row justify-content-between footer p-5 align-items-center">
            <div>
             <!-- *****    <a href="./index.html">小心*** --><img src="./image/logo_bg.svg" alt="" width="130px"></a>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-start">
                <!-- Shop details -->
                <div class="d-flex flex-row align-items-start justify-content-between">
                    <div class="text-left">
                        <h6>Visit Our Store: </h6>
                        <p>Blk. F.12/F. Comfort Bldg.</p>
                        <p>88 Nathan Road,</p>
                        <p>Central,Hongkong</p>
                    </div>
                    <div class="text-left mx-5">
                        <h6>Opening Hours: </h6>
                        <p>Mon - Fri : 08:00 - 20:00</p>
                        <p>Sat - Sun : 11:00 - 21:00</p>
                    </div>
                </div>
                <!-- Social Media -->
                <div class="d-flex flex-column align-items-start justify-content-between">
                    <h6>Find Us: </h6>
                    <div class="d-flex flex-rwo">
                        <a href="https://www.instagram.com/"><img src="./image/Instagram.svg" alt="Instagram"
                                width="35px"></a>
                        <a class="mx-5" href="https://www.facebook.com/"><img src="./image/facebook.svg" alt="Facebook"
                                width="35px"></a>
                        <a href="https://wa.me/15551234567"><img src="./image/whatsapp.svg" alt="Whatsapp" width="35px"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End of footer  -->
    </div><!-- ********小心******** -->
    
   <!-- ********小心 <script src="showcartlength.js"></script>***** -->
    
    </html>